/* <!-- 초기화 --> */
* { 
    margin: 0; padding: 0;
    font-family: '맑은 고딕', 'Malgun Gothic', Gothic, sans-serif;
}
a { text-decoration: none; }
li { list-style: none; }

/* <!-- 페이지 --> */
body {
    width: 950px; 
    margin: 0 auto;
    background: rgba(233, 233, 233, 0.644);
}

#page-wrapper {
    background: rgba(255, 255, 255, 0.726);
    margin: 20px 0; 
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
    box-shadow: 3px 5px 6px rgba(100, 100, 100, 0.3);
}
/* 테이블 스타일 */
table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 600px;
    text-align: center;
}
th {
    text-align: center;
    border: 1px solid black;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgray;
}
tr, td {
    border: 1px solid black;
    padding: 8px;
}

#main-footer {
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
}



