/* <!-- 중앙 내용 --> */
/* body 태그의 너비: 960픽셀 */
/* #page-wrapper 태그의 padding 속성으로 내용물 너비는 920픽셀 */
#content { overflow: hidden;
margin-top: 170px; }
#main-section {
    text-align: left;
    float: left;
    width: 710px;
    background-color: rgba(255, 255, 255, 0.63);
}
#main-aside {
    float: right;
    width: 200px;
}

/* <!-- 좌측 내용물 --> */
article { 
    padding: 0 10px 20px 10px;
}
#heading {
    font-size: 25px;
    font-weight: bold; 
    padding-bottom: 10px;
    color: #444444ce;
    text-shadow: 5px 4px 3px rgba(128, 128, 128, 0.561);
    font-style: italic;
}

.article-header { padding: 20px 0; }
.article-title { 
    font-size: 25px;
    font-weight: bold; 
    padding-bottom: 10px;
    color: #5555555d;
    text-shadow: 5px 4px 3px rgba(128, 128, 128, 0.561);
    font-style: italic;
}
.article-date { font-size: 13px; }
.article-body {
    font-size: 14px;
}
.size { 	
    display: inline-block;
    width: 670px;
    height: 900px;
    margin: 2px;
}

.size1 {
    display: inline-block;
    width: 670px;
    height: 500px;
    margin: 2px;
}

/* <!-- 우측 구성 --> */
.aside-list { padding: 10px 0 30px 0; }
.aside-list > h3 {
    font-size: 15px;
    font-weight: 700;
}
.aside-list li a {
    margin-left: 8px;
    font-size: 13px;
    color: #6C6C6C;
}

